body {
}

.sidebar {
  background: #fff;
  margin-top: 10px;
}

.filters {
  background: #fff;
  padding: 1rem 1.5rem;
}

.filter-div {
  font-size: 1rem;
  padding: 1rem 0rem 1.5rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-div p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.filter-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-options ul li {
  padding: 0.275rem 0rem;
  cursor: pointer;
}

.filter-options ul li label {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.filter-options ul li label input {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

.sidebar-img {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1604176354204-9268737828e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  height: 250px;
  min-height: 250px;
}

.sidebar-img .sidebar-banner-details {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.sidebar-banner-details h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.sidebar-img p {
  text-transform: uppercase;
  font-size: 0.95rem;
}

.sidebar-banner-footer {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.select-wrapper {
  width: 100%;
  background: #fff;
  padding: 1rem 1.5rem;
}
.select-wrapper p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.select-wrapper select {
  width: 100%;
  height: 2.5rem;
  padding: 0px 10px;
}

.select-wrapper select option {
  width: 100%;
}

.stock-body {
  display: flex;
  align-items: center;
}

.stock-body label {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.stock-body input {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}
.stock-heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.stock-wrapper {
  width: 100%;
  background: #fff;
  padding: 1rem 1.5rem;
}
.round-checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;

  outline: none;
  cursor: pointer;
}

/* .
.input-div input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.input-div {
  display: flex;
  align-items: center;
}
